{% load static %}
{% include 'tmp3/header.html' %}
 
{% include 'tmp3/topbar.html' %}

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <!-- <li class="breadcrumb-item"><a href="#">{{ sb }}</a></li> -->
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">{{ jdl }}</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{ jdl }}</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="card col-lg-6 mb-3">
            <div class="card-body">   
                <h5 class="header-title mb-4 mt-0">{{ jdl }}</h5>
                {% for row in messages %}
                            {% if row.tags == 'success' %}
                                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                <script>
                                    swal.fire({
                                        title: "{{ row }}",
                                        text: "",
                                        icon: "success",
                                        reverseButtons: true
                                    })
                                </script>
                            {% else %}
                                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                <script>
                                    swal.fire({
                                        title: "{{ row }}",
                                        text: "",
                                        icon: "warning",
                                        reverseButtons: true
                                    })
                                </script>
                            {% endif %}
                        {% endfor %}

                <form action="{% url 'pengembalian' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group mb-4">
                        <label for="">Username</label>
                        <input type="text" name="nama" class="form-control" placeholder="Username" readonly required id="id_nama" value="{{ user.full_name }}">
                    </div>
                    <div class="form-group mb-4">
                        <label for="">Kelas</label>
                        <input type="text" name="kelas" class="form-control" required id="id_kelas" readonly value="{{ user.kelas_id }}">
                    </div>
                    <div class="form-group mb-4">
                        <label for="">Judul Buku</label>
                        {{ form.judul }}
                    </div>
                    <!-- <div class="form-group mb-4">
                        <label for="">Tanggal Pengembalian</label>
                        <input type="date" name="tanggal" class="form-control" required id="id_tanggal">
                    </div> -->
                    
                    <div class="float-right mt-3">
                        <button type="reset" class="btn btn-secondary">Batal</button>
                        <button  class="btn btn-primary">Kirim</button>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

{% include 'tmp3/footer.html' %}