{% load static %}
{% include 'tmp2/header.html' %}
 
{% include 'tmp2/topbar.html' %}

        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <!-- <li class="breadcrumb-item"><a href="#">{{ sb }}</a></li> -->
                                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                    <li class="breadcrumb-item active">{{ jdl }}</li>
                                </ol>
                            </div>
                            <h4 class="page-title">{{ jdl }}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->

            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->

        {% include 'tmp2/footer.html' %}