{% load static %}
{% include 'tmp2/header.html' %}
 
{% include 'tmp2/topbar.html' %}

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <!-- <li class="breadcrumb-item"><a href="#">{{ sb }}</a></li> -->
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">{{ jdl }}</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{ jdl }}</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="card col-lg-7 mb-3">
            <div class="card-body">

                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                {% endfor %}

                <form action="{% url 't_kelompok' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        {{ form.as_p }}
                    </div>
                    <div class="my-3 float-right">
                        <button type="reset" class="btn btn-secondary">batal</button>
                        <button type="submit" class="btn btn-primary">kirim</button>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

{% include 'tmp2/footer.html' %}