{% load static %}
{% include 'tmp2/header.html' %}

{% include 'tmp2/topbar.html' %}

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <!-- <li class="breadcrumb-item"><a href="#">{{ sb }}</a></li> -->
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">{{ jdl }}</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{ jdl }}</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="card col-lg mb-3">
            <div class="card-body">
                <a href="{% url 's_buku' %}" class="btn btn-primary mb-3"><i class="mdi mdi-arrow-left-bold"></i></a>
                {% for row in messages %}
                    {% if row.tags == 'success' %}
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script>
                            let timerInterval
                                Swal.fire({
                                title: 'Berhasil Mengubah Data Buku',
                                icon: 'success',
                                html: 'Mohon Bersabar Sedang Loading',
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading()
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                }
                                }).then((result) => {
                                /* Read more about handling dismissals below */
                                if (result.dismiss === Swal.DismissReason.timer) {
                                    console.log('I was closed by the timer')
                                }
                            })
                        </script>
                    {% else %}
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script>
                            swal.fire({
                                title: "{{ row }}",
                                text: "ubah data buku",
                                icon: "warning",
                                reverseButtons: true, 
                                showConfirmButton: true
                            })
                        </script>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'ubah' buku.id %}" method="post" enctype="multipart/form-data" id="myform"> 
                    {% csrf_token %}

                    <div class="form-group mb-4">
                        {{ form.as_p }}
                    </div>

                    <div class="float-right mt-2">
                      <button class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

{% include 'tmp2/footer.html' %}