{% load static %}
{% include 'tmp2/header.html' %}

{% include 'tmp2/topbar.html' %}

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <!-- <li class="breadcrumb-item"><a href="#">{{ sb }}</a></li> -->
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">{{ jdl }}</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{ jdl }}</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="card col-lg mb-3">
            <div class="card-body">
                <a href="{% url 's_buku' %}" class="btn btn-primary mb-3"><i class="mdi mdi-arrow-left-bold"></i></a>
                
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                {% endfor %}

                <form action="{% url 'ubah' buku.id %}" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="float-right mt-2">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

{% include 'tmp2/footer.html' %}