{% load static %}
{% include 'tmp3/header.html' %}
 
{% include 'tmp3/topbar.html' %}
<div class="wrapper">
        <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <!-- <li class="breadcrumb-item"><a href="#">{{ sb }}</a></li> -->
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">{{ jdl }}</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{ jdl }}</h4>
                </div>
            </div>
        </div>
        <div class="card mb-3 col-md-7">
            <div class="card-body">
                <form action="{% url 'password' %}" class="form-group" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="form-group mb-2">
                        <button class="btn btn-primary">Ubah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'tmp3/footer.html' %}